<ion-header>
  <ion-toolbar>
    <ion-title>{{case.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>
    <h3>{{case.title}}</h3>
  </ion-list-header>
  <ion-item>
    <p [innerHTML]="case.summary"></p>
  </ion-item>
  <ion-text>
    <div class="ion-padding">
      Releated Topics
    </div>
  </ion-text>
  <ion-list *ngFor="let topic of relatedTopics" (click)="navigateToDetails(topic.id)">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/{{topic.id}}.svg" onerror="this.src='../../assets/shapes.svg'">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ topic.title }}</h3>
        <p [innerHTML]="topic.snippet"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
