ion-item {
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 10px;
}

ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 20px;
  --padding-top: 20px;
}

ion-card-subtitle {
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}