<ion-header>
  <ion-toolbar>
    <ion-title>{{topic.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>
    <h3>Summary</h3>
  </ion-list-header>
  <ion-item>
    <p class="ion-text-justify" [innerHTML]="topic.content"></p>
  </ion-item>
  <ion-card *ngFor="let case of linkedCases" (click)="navigateToDetails(case.id)">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/shapes.svg">
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title>{{case.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content [innerHTML]="case.snippet"></ion-card-content>
          <ion-card-subtitle> Read more...</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>