<ion-header>
  <ion-toolbar>
    <ion-title>{{topic.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>
    <h3>Summary</h3>
  </ion-list-header>
  <ion-item>
    <p class="ion-text-justify">{{topic.content}}</p>
  </ion-item>
  <ion-card *ngFor="let case of linkedCases" (click)="navigateToDetails(case.id)">
    <img src="../../assets/shapes.svg">
    <ion-card-header>
        <ion-card-title>Case Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ case | slice : 0 : 180 }}</ion-card-content>
    <ion-card-subtitle> Read more...</ion-card-subtitle>
  </ion-card>
</ion-content>