<ion-header>
  <ion-toolbar>
    <ion-title>{{case.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h3>{{case.title}}</h3>
    <div class="case-summary" [innerHTML]="case.summary"></div>
  </div>

  <ion-list *ngIf="relatedTopics.length > 0">
    <ion-list-header>
      <ion-label>Related Topics</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let topic of relatedTopics" [routerLink]="['/tabs/topics/detail', topic.id]">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/{{topic.id}}.svg" onerror="this.src='../../assets/shapes.svg'">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ topic.title }}</h3>
        <p [innerHTML]="topic.snippet"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
