<ion-content>
  <ion-text class="ion-margin-bottom">
    For legal commentary for sections and Chapters of the Constitution, please click on the topic which you want to read more about.
  </ion-text>
  <ion-card *ngFor="let topic of topics" (click)="navigateToDetails(topic.id)">
    <img src="../../assets/shapes.svg">
    <ion-card-header>
      <ion-card-title>{{ topic.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ topic.content | slice : 0 : 180 }}</ion-card-content>
    <ion-card-subtitle> Read more...</ion-card-subtitle>
  </ion-card>
</ion-content>