<ion-content>
  <ion-text>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s.
  </ion-text>
  <ion-card *ngFor="let topic of topics" href="/tabs/topics/detail/{{topic.id}}">
    <img src="../../assets/shapes.svg">
    <ion-card-header>
      <ion-card-title>{{ topic.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ topic.content | slice : 0 : 180 }}</ion-card-content>
    <ion-card-subtitle> Read more...</ion-card-subtitle>
  </ion-card>
</ion-content>