ion-item {
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 10px;
}
ion-title {
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}
ion-card-subtitle {
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}
ion-label {
	font-weight: 900;
}
img {
	width: 100%;
	height: auto;;
}