<ion-header>
  <ion-toolbar>
    <ion-title>Cases</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-text>
    <div class="ion-padding">
      For short summaries of cases from the Constitutional Court, please click on the case which you want to read more
      about.
    </div>
  </ion-text>
  <ion-list *ngFor="let case of cases" [routerLink]="['detail', case.id]">
    <ion-item>
      <ion-label>
        <h3>{{ case.title }}</h3>
        <p [innerHTML]="case.snippet"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>