<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="first" contentId="constitution">

  <ion-content>
    <ion-list *ngFor="let page of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="scroll(page.id)">
          {{ page.title }}       
        </ion-item>
        <ion-list *ngFor="let child of page.children">
          <ion-item (click)="scroll(child.id)">
            &nbsp;&nbsp;&nbsp;{{ child.title }}
          </ion-item>
      </ion-list>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="constitution"></ion-router-outlet>
<ion-content>
  <div class="ion-padding">
    <div class="akoma-ntoso" #akn [innerHTML]="newContent"></div>
  </div>
</ion-content>
